snippet integral
\\int_{${1}}^{${2}} \! ${0:${VISUAL}} \, \\mathrm{d}{${3}}
endsnippet

snippet qheader

\vspace{.3cm}
\\textbf{${1}} \\\
\vspace{.3cm}

${0:${VISUAL}}
endsnippet

snippet qinline

\\vspace{.3 cm}
\\textbf{${1}} ${0:${VISUAL}}
endsnippet

snippet lran
\\left\\langle ${0:${VISUAL}} \\right\\rangle
endsnippet
