* {
    border: none;
    border-radius: 0;
    font-family: Fira Code, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    min-height: 0;
    padding-left: 7px;
    padding-right: 7px;
}

window#waybar {
    background: rgba(40,40,40,1);
    border-top: 4px solid rgba(146,131,116,1);
    color: #ebdbb2;
}

#workspaces button {
}

#workspaces button.focused {
    color: #ebdbb2;
}

#mode, #clock, #battery {
}

#mode {
}

#clock {
}

#battery {
}

#battery.charging {
}
